body{
    font-family: 'Assistant', sans-serif;
}
header {
    display: block;
    background-color: #097eac;
    color: white;
    text-align: center;
    margin-top: -15px;
    }
    
h1 {
    font-size: 1.35em;
    padding-top: 1em;
    }
  
h2 {
    border-bottom: 1px solid;
    font-size: 1em;
    padding-bottom: 1em;
    }
h3 {
    font-size: 16px;
}

main {
    display: block;
    grid-template-columns: 350px;
    font-size: 12px;
    }  
  
footer {
    background-color: #097eac;
    color: white;
    text-align: center;
    font-size: 15px;
    align-items: center;
    margin-bottom: -12px;
    }
  
footer .currentyear {
    font-size: 15px;
    padding-top: 10px;
    }
    
footer .lastupdated {
    font-style: italic;
    margin-top: -10px;
    padding-bottom: 10px;
    }

.rmhimg, .edximg, .zlwimg {
    width: 300px;
    height: auto;
    padding-top: 1em;
    }

section {
    border: solid 2px black;
    padding: 0 2rem;
    border-radius: 20px 20px 0 0 ;
    background-color: rgb(243, 240, 235);
    margin-bottom: 1em;
    }

p {
    font-size: 18px;
}
  