  
  header {
      display: block;
      background-color: #097eac;
      color: white;
      text-align: center;
    }
  
    h1 {
      font-size: 1.35em;
      padding: 1em;
    }
  
    main {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: auto;
    }  
  
    footer {
      background-color: #097eac;
      color: white;
      text-align: center;
      font-size: 15px;
    }
  
    footer .currentyear {
        font-size: 15px;
        padding-top: 10px;
    }
    
    footer .lastupdated {
      font-style: italic;
      margin-top: -10px;
      padding-bottom: 10px;
    }
  
  