@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

body {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    font-family: Ubuntu, Georgia, sans-serif;
}
h1 {
    color: rgb(197, 17, 11);
    margin-bottom: 0;
    text-align: center;
}
section {
    border: 2px solid gray;
    text-align: center;
    margin: 5px 0;
    background-color: rgb(106, 105, 122);
    color: rgb(201, 198, 11);
    box-shadow: 0 0 10px 5px rgb(134, 82, 82);
}
p {
    margin: 0;
    color: rgb(207, 204, 12);
}
img {
    width: 50%;
    padding: 1em;
}
.cards {
    border: 2px solid grey;
    padding: 1em;
    margin: 1em;
    box-shadow: 0 0 10px 5px rgb(134, 82, 82);
}
footer {
    margin: 1em;
}
div.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

