
body {
    font-family: 'Exo', 'Merriweather Sans', sans-serif;
    background-color: #EAEBED;
    font-size: 16px;
}

header,
main,
footer {
	max-width: 767px;
	margin: 0 auto;
    padding: 10px;
}
header,
footer {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
    background-color: #006989;
}

nav ul li a.link{
    display: block;
    color: #F49D37; 
    font-size: 1.5rem;
    text-decoration: none;
    padding: 0.35rem;
    
}
nav ul {
    list-style-type: none; 
    text-align: center;
}


footer {
    color: #F49D37; 
}

footer p {
    margin: 5px;
    padding: 0.35rem;
}
