
body {
    font-family: 'Exo', 'Merriweather Sans', sans-serif;
    background-color: #EAEBED;
    font-size: 16px;
}

header,
main,
footer {
	margin: 0 auto;
    padding: 10px;
}
header,
footer {
	display: flex;
	flex-flow: column;
	align-items: center;
    text-align: center;
    background-color: #006989;
    padding: 10px;
}

nav ul li a.link{
    color: #F49D37; 
    font-size: 1.5rem;
    text-decoration: none;
    padding: 0.5px;  
    margin-left: -2em;  
}
nav ul {
    list-style-type: none; 
}
img.bio{
    width: 99.9%;
}
img {
    width:100%;
}
footer {
    color: #F49D37; 
}

footer p {
    margin: 5px;
    padding: 0.35rem;
}

