@media only screen and (min-width: 32.5em){

    header nav {
        grid-template-columns: .5fr 3fr .5fr 1fr;
        height: fit-content;
    }
    .homeLink {
        border: none;
        display: block;
        font-weight: 400;
        position: relative;
        margin: 0 0 15px 0;
        padding-top: 16px;
        background-color: transparent;
        grid-column: 2/3;
        width: 300px;
        height: fit-content;
    }
    .homeLink span {
        font-size: 26px;
    }
    div.social {
        display: flex;
        grid-column: 4/5;
        margin-left: 2.5em;
        height: 1em;
    }
    div.social a img{
        width: 32px;
        height: 44px;
        padding: 16px 10px;
    }
    #hamBtn {
        grid-column: 3/4;
        height: 1em;
        padding-top: 16px;
        font-size: 44px;
    }
    #phoneBtn {
        height: 1.5em;
        padding-top: 20px;
        grid-column: 1/2;
    }
    .hero-container {
        display:grid;
        grid-template-columns: 1fr 375px;
    }
    .heroPic {
        grid-column: 1/3;
        grid-row: 1/2;
    }
    form.booking-container {
        grid-column: 2/3;
        grid-row: 1/2;
        width: 375px;
        background-color:rgb(84, 32, 94, 0.6);
        right: 0;
        top: 5.4em;
    }
    .booking {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    label.dates {
        width: 150px;
        display: grid;
        grid-template-rows: 1fr 1fr;
        font-size: 20px;
        color: #f2f4f8;
        width: 170px;
    }
    form.booking-container input {
        width: 160px;
        font-size: 1em;
    }
    #checkout {
        grid-column: 1/3;
        font-size: 32px;
        padding-top: 5px;
        margin: 16px 0 0 1.5em;
        width: 250px;
        height: 50px;
        background-color: #3F7D20;
        color: #f2f4f8;
        border-radius: .5em;
        border: 5px groove grey;
    }
    .callToAction {
        position: static;
        grid-column: 2/3;
        width: 200px;
        text-align: center;
        bottom: 1em;
        height: 30px;
        justify-self: center;
    }
    .content {
        display: grid;
        grid-template-columns: 300px 150px 1fr 300px;
        grid-gap: 10px;
    }
    .slideshow-container {
        grid-column: 1/3;
        grid-row: 1/2;
        margin: .5em 0 2em 1em;
        box-shadow: none;
    }
    .content h1 {
        grid-column: 3/5;
        grid-row: 1/2;
    }
    .content > p {
        grid-column: 3/5;
        grid-row: 1/2;
        font-size: 1em;
        margin: 6em 0 0 0;
        padding: 1em;
    }
    div.wthrContainer {
        grid-column: 1/2;
        grid-row: 2/3;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    div.summary {
        grid-column: 2/5;
    }
    .currentWthr {
        height: fit-content;
    }
    div.wthrContainer img {
        width: 44px;
    }
    article {
        border: none;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 4em;
    }
    article h2 {
        margin: 0;
        font-size: 1.2em;
    }
    article img {
        grid-column: 2/2;
        grid-row: 1/5;
        box-shadow: 0 0 15px 5px #3F7D20; 
        border-radius: 1em;
    }
    .forecast > h2 {
        margin: 10px auto;
        text-align: center;
        font-size: 1em;
    }
    div.one, div.two, div.three {
        margin-bottom: 10px;
    }
    footer {
        display: grid;
        grid-template-columns: 400px 1fr 70px;
    }
    footer div.info {
        grid-column: 1/2;
    }
    footer form {
        grid-column: 2/3;
        grid-row: 1/2;
        margin: 1em 0 0 1em;
        width: 300px;
        justify-self: end;
    }
    footer div.social {
        grid-column: 3/4;
        grid-row: 1/2;
        margin: 8em 0;
    }
    footer fieldset{
        width: 300px;
        margin: 0;
    }
    footer fieldset label {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 250px;
        text-align: right;
    }
    footer #submitBtn {
        margin: 0 2.2em;
    }
    footer div.specs {
        grid-column: 1/5;
        display: flex;
        flex-direction: row;
    }
    footer p.lastupdated {
        margin: 0 9em;
    }
    footer div.info p.phone, footer div.info a {
        margin-left: 7em;
    }
    
    .temples {
        max-width: 850px;
        margin: 2em auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 3em;
    }
    .reservation h1 {
        margin-top: 1em;
    }
    .reservation section.form {
        margin-left: 2em;
    }
    .reservation input.submitStay {
        align-self: flex-start;
    }
    .reservation aside, .reservation aside ul {
        display: block;
    }
    .reservation, .services, .reception, .mission {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .reservation aside {
        border: 2px solid grey;
        width: fit-content;
        height: fit-content;
        justify-self: center;
        margin: 10em 1em 1em 0;
        border-radius: 2em;
        box-shadow: 0 0 10px 5px #3F7D20;
    }
    .reservation aside h2 {
        padding: 10px
    }
    .reservation aside ul li {
        padding-right: 10px;
        font-size: 1.5em;
    }
    .services div.amenity {
        border: 2px solid grey;
        border-radius: 2em;
        box-shadow: 2px 2px 2px grey;
        width: fit-content;
    }
    .services h1, .services div.offer, .reception h1, .mission h1 {
        grid-column: 1/3;
        margin: 1em auto;
    }
    .services p, .services h2, .services a {
        grid-column: 1/2;
    }
    .services div.amenity {
        grid-column: 2/3;
        grid-row: 2/6;
    }
    .reception p {
        align-self: center;
    }
    .reception p:nth-child(3) {
        grid-column: 1/3;
        grid-row: 2/3;
        text-align: center;
    }
    .reception h2.detail {
        grid-column: 2/3;
        grid-row: 3/4;
        margin: 0;
    }
    .reception ul {
        grid-column: 2/3;
        grid-row: 3/4;
        margin-top: 3.5em;
    }
    .reception li::marker {
        color: #3F7D20;
        content: "➡";
        font-size: 1.5em;
    }
    .reception li {
        padding-left: 10px;
    }
    .reception h2:nth-of-type(2) {
        grid-column: 1/3;
    }
    .reception p:nth-of-type(5) {
        grid-column: 2/3;
        grid-row: 7/8;
    }
    .reception h3 {
        grid-column: 2/3;
        grid-row: 7/8;
        margin-top: 8em;
    }
    .reception img, .mission img {
        box-shadow: 5px 5px 5px #3F7D20;
        border-radius: 1em;
        margin-bottom: 1em;
    }
    .reception img:nth-of-type(2) {
        grid-column: 2/3;  
    }
    .reception p:nth-of-type(4) {
        grid-column: 1/2;
        grid-row: 5/6;
    }
    .temples section {
        min-height: 460px;
        margin: 0 auto;
    }
    .mission p:nth-of-type(1) {
        grid-column: 1/3;
        grid-row: 2/3;
    }
    .mission form {
        grid-column: 1/2;
        grid-row: 4/5;
    }
    .mission h2, .mission ul {
        grid-column: 2/3;
        grid-row: 4/5;
    }
    .mission h2 {
        margin: 3em 0 0 3em;
        border: 2px solid grey;
        height: 215px;
        width: 225px;
        border-radius: 1em;
        background-color: rgb(84, 32, 94, 0.2);

    }
    .mission ul {
        margin: 8em 0 0 4.5em;
    }
    .mission h1 {
        height: 60px;
    }
    .mission img {
        width: 350px;
    }


}   